<!doctype html>
<html>
	<head>
		<title>Blog Site</title>
		<link href="../stylesheet/app.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css" />
	</head>
	<body>
		<div class="ui fixed inverted menu">
		  <div class="ui container">
		  	<div class="header item"><i class="code icon"></i> Blog site</div>
		  	<a href="/" class="item">Home</a>
		  	<a href="/blog/new" class="item">New post</a>
		  </div>
		</div>