<% include partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header">Single post</div>
	<div>
		<%= data.title %>
	</div>
	<div>
		<img src="<%= data.image%>">
	</div>
	<div>
		<%= data.created.toDateString() %>
	</div>
	<div>
		<%= data.body %>
	</div>
</div>

<% include partials/footer %>
